h3{
    color: gainsboro;
    font-size: 1em; 
    transform: translateZ(0);
    transition: transform 0.4s ease-out;
    filter: drop-shadow(-6px -3px 1px rgba(248, 248, 255, 0.279));
}
h3:hover, h3:focus{
    cursor: pointer; 
    text-decoration: underline; 
    transform: scale(1.15);
}