.caja{
    box-shadow: -12px -8px 13px 5px rgba(0, 0, 0, 0.524);
    padding: 3em; 
    width: 65%; 
    border-radius: 3px; 
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    display: inline-flex;
    justify-content: center; 
}
.barra{
    margin-top: 3em; 
    text-align: center;
    padding-bottom: 6rem;
}
.barra p{
    font-size: 2em;
    font-weight: 600;
    color: ghostwhite;
}
.parpadeo{
    font-size: 1.5em;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    opacity: 1;
    transition: opacity 0.5s;
    animation-name: parpadeo;
    animation-duration: 1.2s;
    animation-delay: 30s;
    animation-iteration-count: infinite;
}
@keyframes parpadeo{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.0;
    }
    100%{
        opacity: 0.5; 
    }
}
.parpadeo:hover, .parpadeo:focus{
    cursor: help; 
    opacity: 0; 
    animation: 2s parpadeo infinite ease-out; 
    transition: opacity 0.85s ease;
}
::placeholder{
    color: gainsboro;
    opacity: 0.9; 
    font-size: 1.2em; 
}
input{
    height: 2em; 
    width: 80%; 
    border-top-left-radius: 7px;
    display: inline-flex; 
}
button{
    height: 2.4em; 
    background-color: #291f3e;
    color: ghostwhite;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 100;
    border-left: none; 
    box-shadow: 0px 0px 4px 1px #f8f8ff6e inset;
    border-bottom-right-radius: 7px;
    position: relative; 
    overflow: hidden;
    padding: 0 1.25em; 
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
button:hover{
    cursor: pointer; 
    transform: scale(1.1); 
}

@keyframes destellos{
	0%{transform: translateX(-40px);}
	100%{transform: translateX(80px);}
}
.brillo{
	width: 45%;
	height: 150%;
    position: absolute;
    bottom: 0; 
	background-color: white; 
	opacity: 0.5;  
	clip-path: polygon(0 0, 30% 0, 100% 100%, 70% 100%);
	transition: all 1s; 
	animation: destellos 1.3s linear 0s infinite; 
}
@media only screen and (max-width: 600px) {
    button {
      width: 45%;
    }
    input{
        width: 95%;
    }
  }